<%- include('./partials/header') %>

    <title>Home | Cadastro</title>
</head>
<body>
<%- include('./partials/navbar') %>
    <div class="container">
        <div class="logo text-center mb-5 mt-4">
            <img src="./images/logo.jpeg" style="max-width: 30%;" alt="logo"/>
        </div>
        <h1>Preencha o formulário</h1>
        <form class="row g-3 my-4">
            <div class="col-6">
                <label for="inputnomel4" class="form-label">Nome</label>
                <input type="text" class="form-control" placeholder="Digite seu nome" aria-label="First name">
              </div>
              <div class="col-6">
                <label for="inputSobreNomel4" class="form-label">Sobrenome</label>
                <input type="text" class="form-control" placeholder="Digite seu Sobrenome" aria-label="Last name">
              </div>
            <div class="col-md-6">
              <label for="inputEmail4" class="form-label">Email</label>
              <input type="email" class="form-control" id="inputEmail4">
            </div>
            <div class="col-md-6">
              <label for="inputPassword4" class="form-label">Senha</label>
              <input type="password" class="form-control" id="inputPassword4">
            </div>
            <div class="col-12">
              <label for="inputAddress" class="form-label">Endereço</label>
              <input type="text" class="form-control" id="inputAddress" placeholder="apt, casa, 1587...">
            </div>
            <div class="col-12">
              <label for="inputAddress2" class="form-label">Endereço Comercial</label>
              <input type="text" class="form-control" id="inputAddress2" placeholder="Apt, casa, 1587...">
            </div>
            <div class="col-md-6">
              <label for="inputCity" class="form-label">Cidade</label>
              <input type="text" class="form-control" id="inputCity">
            </div>
            <div class="col-md-4">
              <label for="inputState" class="form-label">Estado</label>
              <select id="inputState" class="form-select">
                <option selected>Selecione seu Estado</option>
                <option>RJ</option>
                <option>SP</option>
                <option>MG</option>
                <option>ES</option>
              </select>
            </div>
            <div class="col-md-2">
              <label for="inputZip" class="form-label">Cep</label>
              <input type="text" class="form-control" id="inputZip">
            </div>
            <div class="col-12">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                  Concordo com os termos e dados digitados.
                </label>
              </div>
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-primary">Cadastrar</button>
            </div>
          </form>
          
    </div>

<%- include('./partials/footer') %>
