<%- include('./partials/header') %>

    <title>Home | Sobre</title>
</head>
<body>
<%- include('./partials/navbar') %>
    <div class="container-fluid">
        <h1 class="titulo text-center p-1">Pessoas simples</h1>
        <h1 class="subtitulo text-center">Corações gigantes</h1>

        <div class="banner text-center">
        <img src="./images/banner.jpg" alt="imagem">
        </div>

        <div class="tituloDaPagina p-1">
            <p>Tudo começou em uma entrega de um projeto final, um grupo que não se falava
            em aula e até mesmo após o grupo formado para realização do projeto.
            Todos com seus propósitos na vida e obstáculos diários.
            A Idéa amadureceu, todos se dedicaram ao máximo para a se tornar um o sucesso
        que essa plataforma se tornou hoje.</p>
        </div>

        <h4 class="tituloFundadores">
            Conheça um pouco de nossos desenvolvedores
        </h4>

        </div>
    </div>

<%- include('./partials/footer') %>


